if ! has nix_direnv_version || ! nix_direnv_version 3.0.6; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.6/direnvrc" "sha256-X5GD4WjSDmAnD0WXCR3cMkkrMAv4R0y5rc2ZvLkOP4E="
fi

use flake
